<div class='rentals'>
  <label>
    <span>{{t 'rentals.searchbar.title'}}</span>
    <Input @value={{this.query}} class='light' />
  </label>

  <ul class='results'>
    <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} as |results|>
      <div class='searchResult'>{{t
          'rentals.propertycount'
          numProperties=results.length
        }}</div>
      {{#each results as |rental|}}
        <li><Rental @rental={{rental}} /></li>
      {{/each}}
    </Rentals::Filter>
  </ul>
</div>